html {
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    --section-bg: #eee;
    --button-bg: rgb(41, 152, 255);
    font-size: 1.2rem;
}

html,
body {
    height: 100dvh;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.app {
    height: 100dvh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* STATS */

.stats {
    display: flex;
    justify-content: space-around;
    /* background-color: var(--section-bg); */
    padding: .5em;
}

.stats__item {
    display: flex;
    align-items: baseline;
}

.stats__item::before {
    margin-right: .5em;
}

.stats__item--good::before {
    content: '✔️';
}

.stats__item--bad::before {
    content: '❌';
}

.stats__item--streak::before {
    content: '🔥';
}
.stats__item--remain::before {
    content: '🧾';
}

/* SIGN */

.sign-container {
    min-width: 1px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: var(--section-bg); */
}

.sign-container>img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* RESPONSES */

.responses {
    flex: none;
    padding: .5em;
}

.response {
    background-color: var(--button-bg);
    padding: .25em .5em;
    color: #fff;
    margin-bottom: .5em;
}

.response.red {
    background: rgb(191, 64, 64);
}

.response.green {
    background: rgb(64, 191, 64);
}

/* ACTIONS */

.actions {
    /* background-color: var(--section-bg); */
    display: flex;
    justify-content: end;
    padding: .5em;
}

.button {
    background-color: var(--button-bg);
    padding: .5em 1em;
    color: #fff;
}